{#
    Button
    ---
    Usage:
    {% include "components/atoms/global/button" with {
        type: "outline",
        text: "Outline Button"
    } %}
#}

{% set classes = '
    inline-block
    py-4
    px-8
    text-center
    font-bold
    text-lg
    no-underline
    text-gray-700
    border-2
    border-gray-300
    rounded-md
    bg-gray-300
    cursor-pointer
    hover:text-gray-900
    hover:border-gray-400
    hover:bg-gray-400
' %}

{% if type == 'outline' %}
    {% set classes = classes ~ '
        border-gray-700
        bg-transparent
        hover:text-gray-900
        hover:border-gray-900
        hover:bg-gray-300
    ' %}
{% endif %}

{# {% set classes = classes|split("\n")|reduce((carry, x) => carry ~ ' ' ~ x|trim) %} #}

<button class="{{ classes }}">
    {{ text|default('Button') }}
</button>
